body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.feedback {
  border: 1px dotted cadetblue;
  padding: 1rem;
  background-color: rgb(218, 230, 247);
  position: absolute;
  top: 20%;
  left: 50%;
  width: 70%;
  transform: translate(-50%, -50%);
  animation: 1s slideDown;
}

.invisible {
  display: none;
}

.visible {
  display: block;
}

.error {
  border: 1px dotted rgb(107, 21, 4);
  padding: 1rem;
  background-color: rgb(255, 229, 228);
}

@keyframes slideDown {
  0% {
    top: 0%;
  }

  100% {
    top: 20%;
  }
}