.form-container {
    display: flex;
    justify-content:center;
}

.search-selection {
    border-radius: 20px;
    padding: 5px;
    margin: 10px;
}

.search-box {
    border-radius: 20px;
    padding: 5px;
    margin: 10px;
}

.sort-selection {
    border-radius: 20px;
    padding: 5px;
    margin: 10px;
}

.cover-art {
    width: 8rem;
    height: 8rem;
    margin-right: 15px;
    box-shadow: 10px 10px 5px darkgray;
    border: 1px solid black;
}

.album-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

.album-data {
    display: flex;
    margin: 15px;
}

.album-list-details {
    list-style-type: none;
    padding: 0;
}

.albumForm-title {
    text-align: center;
}

.edit-delete-button {
    height: 15%;
    border-radius: 20px;
    background-color: red;
    padding: 8px;
    box-shadow: 10px 10px 5px darkgray;
    font: inherit;
}

.btn-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.edit-button {
    height: 15%;
    border-radius: 20px;
    background-color: blue;
    padding: 8px;
    box-shadow: 10px 10px 5px darkgray;
    font: inherit;
    margin: 10px;
}

.delete-button {
    height: 15%;
    border-radius: 20px;
    background-color: red;
    padding: 8px;
    box-shadow: 10px 10px 5px darkgray;
    font: inherit;
    margin: 10px;
}

.btn-primary {
    height: 15%;
    border-radius: 20px;
    background-color: blue;
    padding: 8px;
    box-shadow: 10px 10px 5px darkgray;
    font: inherit;
}

.genre-container {
    display: flex;
    justify-content: space-between;
}

.genre-form {
    display:block;
    padding: 5px;
}