@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-image: url('./assets/slider-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Lemon', serif;
}