body {
    font-family: 'Permanent Marker', cursive;
    background-color: whitesmoke;
}

.header-container {
    text-align: center;
}

#header {
    font-size: 80px;
}

#subheader {
    font-size: 40px;
}