.navbar {
    display: flex;
    justify-content: space-between;
    border: 4px solid black;
    border-radius: 20px;
    padding: 2px 8px;
    list-style-type: none;
    background-color: gray;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
    color: black;
}